.nav .nav-link {
  color: black !important;
  transition: color 0.3s ease;
}

.nav .nav-link:hover {
  color: red !important;
}

.search-btn {
  color: inherit;
  transition: color 0.3s ease;
}

.search-btn:hover {
  color: #ffc107;
}

body{
  font-family:Arial, Helvetica, sans-serif !important;
}

.header{
  font-size: 15px;
  color: rgb(84, 83, 83);
  font-weight: bold;
}

.letter{
  margin-left:50%;
}

.contact{
  margin-top: 10%;
  font-size: 15px;
  color: rgb(84, 83, 83);
  font-weight: bold;
}

.nav-link
{
  font-size: 15px !important;
}

.nav-link:hover {
  color:#DA291C !important; /*Since we using bootsrap classes thats already modified we have to use important to override bootstrap to use the css*/
  transform: scale(1.03); /* slight zoom effect */
}

.banners{
  width: 180px;
 
}

.footer-btn{
  transition: background-color 0.3s ease, transform 0.3s ease !important; 
  background-color:#DA291C !important;
}

.footer-btn:hover{
  background-color: #FFC72C !important;
}

.footer-text{
  font-size: 11px;
}

/* main {
  margin-top: 56px;

} */

#myCarousel .carousel-item {
  height: 90vh;
  min-height: 400px;
}

#myCarousel img {
  object-fit: cover;
  height: 100%;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.carousel-caption {
  z-index: 2;
}

.transition-opacity {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.position-relative:hover .transition-opacity {
  opacity: 1;
}


.overflow-auto::-webkit-scrollbar {
  display: none;
}

.btnF:hover{
  background-color: red;
}

   .horizontal-scroll {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;
  }

  .card-container {
    flex: 0 0 auto; /* prevent shrinking below content */
    width: 450px; /* min width on mobile */
    max-width: 550px; /* max width on desktop */
    scroll-snap-align: start;
  }

  .card-container h1,
  .card-container p {
    word-wrap: break-word; /* break long words */
    overflow-wrap: break-word;
  }

  /* Optional: add some padding inside cards */
  .card-container .card-inner {
    padding: 1rem;
  }

  /* Optional scrollbar styling */
  .horizontal-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .horizontal-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }