.btn-primary {
  background-color: #ffca28; /* golden yellow */
  border-color: #ffca28;
  color: #000;
}

.btn-primary:hover {
  background-color: red; /* McDonald's red */
  border-color: red;
  color: #fff;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: red !important;
  border-color: red !important;
  color: #fff !important;
  box-shadow: none !important; /* remove blue glow */
}
